@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #159947;
    --primary-light: #49B265;
    --secondary: #06373A;
    --secondary-light: #1F5F5B;
    --background: #061A23;
    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;
}

body {
    background: var(--background);
    color: var(--text-primary);
}